[submodule "overlays/op-energy"]
	path = overlays/op-energy
	url = ssh://git@github.com/op-energy-foundation/op-energy
	branch = devel
[submodule "overlays/op-energy-frontend"]
	path = overlays/op-energy-frontend
	url = ssh://git@github.com/op-energy-foundation/op-energy-frontend
	branch = devel
[submodule "overlays/op-energy-blockspan-service"]
	path = overlays/op-energy-blockspan-service
	url = ssh://git@github.com/op-energy-foundation/op-energy-blockspan-service
	branch = devel
[submodule "overlays/op-energy-prototype"]
	path = overlays/op-energy-prototype
	url = ssh://git@github.com/op-energy-foundation/op-energy-prototype
	branch = devel
